body{
    font-family: "Microsoft YaHei";
}
.navbar-me{
    border-bottom: 2px solid #1b3074;
    background-image:url(../imgs/soc_19.png);
    opacity: .8;
    padding-top: 15px;
    padding-bottom: 12px;
}
.navbar-brand>img{
    display: inline-block;
    height:50px;
}
.navbar-brand{
    padding:0 15px;
}
.navbar-right-me li{
    padding:14px;
    color:#758a9a;
    cursor: pointer;
}
.navbar-right-me li img{
    margin-right:10px;
}
.navbar-right-me .special{
    width:124px;
    border-left:1px solid #333b58;
    text-align:center;
}
.col-xs-6{
    padding:0;
}
.up-left,.down-left{
    margin-left:20px;
    margin-right:20px;
}
.up-left{
    background:url(../imgs/soc_03.png);
}
.down-left{
    background: url(../imgs/soc_11.png);
}
.up-right{
    background:url(../imgs/soc_4.png);
    position: relative;
}
.down-right{
    background: url(../imgs/soc_12.png);
}
.up-left,.up-right{
    height:258px;
}
.row-me{
    margin-bottom:20px;
}
.row-me>div{
    width:930px;
    float:left;
}
.down-left,.down-right{
    height:634px;
}
.background{
    background:url(../imgs/1_03.png);
}
.middle-pie{
    position: absolute;
    top: 246px;
    left: 810px;
    background:url(../imgs/soc_23.png);
    width:272px;
    height:264px;
}
footer{
    height: 50px;
    background:url(../imgs/bg.png);
    text-align: center;
    line-height: 50px;
    color:#3d4c60;
}
.dashboard-stat{
    float:left;
    margin-top:70px;
    margin-left: 50px;
}
.title{
    font-size: 24px;
    color: #999999;
}
.title span{
    display: block;
    font-size: 50px;
    color: #a5a5a6;
    width: 150px;
}
.visual:after{
    display: block;
    content: "";
    clear:both;
}
.visual p,.dashboard-stat img{
    float:left;
}
.visual p{
    margin:15px;
}
.visual img,.details{
    margin-right:74px;
}
.up-left .dashboard-stat:first-child .visual{
    border-right:1px solid #333b58;
}
.progress{
    height:5px;
    background-color:#343434;
    margin-bottom: 15px;
    overflow: inherit;
}
.progress-bar-blue{
    background-color:#3950E7;
    box-shadow: #fff;
    position: relative;
}
.details p{
    color:#666666;
    font-size: 16px;
}
.progress-bar:after {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    top: 1px;
    box-shadow: 0px 0px 10px 6px #3950E7;
}
.dashboard-stat-right{
    border-radius: 5px;
    padding: 20px;
    background-color: #11182B;
    margin-left:150px;
}
.dashboard-stat-right img{
    margin-right:50px;
}
.dashboard-stat-right .visual,.dashboard-stat-right .details{
    float: left;
}
.time{
    color:#999999;
}
.details-text{
    color:#666666;
}
.details-text p{
    margin:5px 5px 5px 0;
}
.pull-down{
    content: "";
    width: 34px;
    height: 34px;
    background: url(../imgs/1_08.png);
    border-radius: 50%;
    position: absolute;
    right: 45%;
    bottom: 0;
    cursor: pointer;
}
#risk-value{
    height:100%;
}
.charts-up{
    height:45%;
    margin-left: 70px;
    margin-top: 50px;
    position: relative;
}
#net,#host{
    height:100%;
}
.title-border{
    height:24px;
    width:5px;
    border-radius:5px;
    background-color: #3C53A9;
    position: absolute;
    top:32px;
    left:10px;
}
.title-border-right{
    left:40px;
}
.charts-down{
    height:45%
}
.morris{
    float:left;
    width: 25%;
}
.charts-down-left{
    margin-left: 70px;
}
.charts-down-left .morris{
    padding:10px;
    width: 250px;
}
.morris p{
    text-align: center;
}
.morris div{
    border-right:1px solid #262D4B;
    height:250px;
}
.charts-down .morris:last-child div{
    border-right: none;
}
path:nth-child(2n){
    stroke: transparent;
}
text{
    font-family: "Microsoft YaHei" !important;
}